<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="localizar()">
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fa vertical="bottom" horizontal="end" slot="fixed">
  </ion-fa>
</ion-content>
