<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Articulos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <div id="slider">
    <figure>
      <img src="https://fotos.subefotos.com/2712a5ef7f8aefecc20660041c091a76o.jpg" alt />
      <img src="https://fotos.subefotos.com/8491bfb6148f6d38c9ef3c2231537663o.jpg" alt />
      <img src="https://fotos.subefotos.com/e4c8ad438a378106e4fc741d1c99a087o.jpg" alt />
      <img src="https://fotos.subefotos.com/72db33cf7c30265d5eea164721e2fb4eo.jpg" alt />
      <img src="https://fotos.subefotos.com/f1c97c7469d60abc9e9c94f00769fb26o.jpg" alt />
    </figure>
    <div class="centrado"
      style="width: 107px; height: 30px; background-color: rgb(225, 225, 230); border-radius: 40px; position: fixed; margin-top: 4%;">
      <p class="centrado" style="color: black; font-size: 15px; padding-bottom: 18%;">Tennis</p>
      <img src="/assets/icon/filtro.png" style="width: 16px; height: 16px; margin-left: 76.5%; margin-top: 6.8%;" alt />
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <div padding></div>
    <div padding></div>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let p of productos" style="display: flex;">
        <div style="width: 100%; display: flex;border-bottom: 1.2px solid #BBB; border-radius: 15px;">
          <div style="width: 35%;">
            <img src="{{p.rutaCalzado}}" style="border-radius: 25px; width: 50px; height: 45px;" />
          </div>
          <div style="width: 65%;">
            <p style="font-size: 13.5px; margin: 0; color: black;">{{p.nombeCalzado}}, {{p.color}}</p>
            <p style="font-size: 11px; margin: 0; color: black;">Precio: {{p.precio}}</p>
            <p style="font-size: 11px; margin: 0; color: black;">Talla: {{p.talla}}</p>
          </div>
          <img src="/assets/icon/ayuda.png" (click)="valores(p)"
            style="width: 18px; height: 18px; margin-top: 15%; margin-left: -16%;" alt/>  <!--agregar.svg-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>


<div class="contMesElim" *ngIf="ocul">
  <div class="centrar-mensaje">
    <div class="contaiMensaEli">
      <div class="textMensaje">
        <div style="width: 100%; display: flex; margin-top: 25%;">
          <div style="width: 60%;">
            <img src="{{imagen}}" (click)="valores(p)" style="width: 208px; height: 208px;" alt />
          </div>
          <div style="width: 40%;">
            <p style="color: black; margin: 8px; font-size: 12px;">Descripción: </p>
            <p style="color: black; margin: 4px; font-size: 11px;">Nombre: {{nombreProp}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Ubicación: {{lugar}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Telefono: {{contacto}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Articulo: {{nombre}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Estado: {{estado}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Color: {{color}}</p>
            <p style="color: black; margin: 4px; font-size: 11px;">Precio: {{precio}}</p>
            <div text-center class="contact" style="padding-top: 9%;">
              <ion-icon slot="start" src="/assets/icon/whats.svg" style="width: 28.5px; margin-left: 15.5%;"></ion-icon>
              <ion-icon (click)="Ubicacion_art()" slot="start" src="/assets/icon/google_m.svg" style="width: 27.5px; margin-left: 9.2%;"></ion-icon>
            </div>
          </div>
        </div>

      </div>
      <div class="btnsMensajeElim">
        <button type="submit" class="botonMensaEli" (click)="acept()">Aceptar</button>
        <button type="submit" class="botonMensaEli" (click)="cancel()">Cancelar</button>
      </div>
    </div>
  </div>
</div>