<ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menú</ion-list-header>
          <ion-note></ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of Icns">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" style="color: black;"></ion-icon>
              <ion-label style="color: black; font-size: 16px;">
                <p style="color: black; font-size: 18px;">Inicio</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/favoritos']">
              <ion-icon slot="start" src="/assets/icon/favoritos.svg"></ion-icon>
              <ion-label>
                <p style="color: black; font-size: 18px;">Mis favoritos</p>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/mensajes']">
              <ion-icon slot="start" src="/assets/icon/chats.svg"></ion-icon>
              <ion-label>
                <p style="color: black; font-size: 18px;">Mis chats</p>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/compras']">
              <ion-icon slot="start" src="/assets/icon/compras.svg"></ion-icon>
              <ion-label>
                <p style="color: black; font-size: 18px;">Mis compras</p>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/ventas']">
              <ion-icon slot="start" src="/assets/icon/venta.svg"></ion-icon>
              <ion-label>
                <p style="color: black; font-size: 18px;">Mis ventas</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!--<ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
        </ion-list>-->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>